a {
 	color: #1fad82;
    text-decoration: none;
}
a:hover {
	color: white;
}
body {
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
nav {
	display: block;
}
header {
	display: block;
	background-color: black;
	font-family: 'Open Sans', serif;
  	font-size: 18px;
  	font-weight: bold;
}
div {
	background-color: black;
}
object {
	display: block;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header ul li {
	display: block;
	float: left;
}
header ul li a{
	width: 100px;
}
#header{
	background-color: black;
	font-family: 'Open Sans', serif;
  	font-size: 18px;
  	overflow: hidden;

}
