a {
 	color: black;
    text-decoration: none;
}
a:hover {
	color: white;
}
body {
	display: block;
    margin: 0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image:url('background.png');
    background-repeat:no-repeat;

}
nav {
	display: block;
}
header {
	display: block;
	background-color: transparent;
	font-family: 'Open Sans', serif;
  	font-size: 18px;
  	font-weight: bold;
  	width: 100%;
  	margin-top: 10px;
  	margin-right: auto;
  	margin-left: auto;
  	position: fixed;
}
div {
	background-color: transparent;
}
object {
	display: block;
	width: 100%;
	background: transparent;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header ul li {
	display: block;
	float: left;
}
header ul li a{
	width: 100%;
	float: right;
	padding-left: 30px;

}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	padding-left: 0px;
	margin-right: 30px;
}
#twitter{
	padding-top: 100px;
	padding-left: 10px;
	width: 300px;
}
